.button {
  margin-top: 65px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.56);
  width: 129.53px;
  height: 44px;
  cursor: pointer;
  border: 1px solid #ffffff;
  text-align: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.333;
  color: #ffffff;

  opacity: 1;
}

.button:hover,
.button:focus {
  background-color: #ff6b08;
}

.button:not(:last-child) {
  margin-right: 20px;
}
